.item1 { grid-area: map;
  
  text-align: center;
 }
.item2 { 
    grid-area: menu; 
    padding-top: 40px;

    border: 2px grey solid;
    padding-top: 40px;
}
.item3 { grid-area: main;
  padding-top: 40px;
  border: 2px grey solid;
}
.item4 { grid-area: data; 
  padding-top: 40px;
  border: 2px grey solid;
}
.item9 {grid-area: lines;
  padding-top: 40px;
  border: 2px grey solid;
}
.item5 { grid-area: footer; 
  border: 2px grey solid;
  padding-top: 40px;
}

.item7 {grid-area: timechart; 
  border: 2px grey solid;
  padding-top: 40px;
}
input[type="range"] {
  width:200px;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'map map map  menu menu menu'
  'map map map  menu menu menu'
  'map map map  data data data'
  'map map map  data data data'
  'map map map  data data data'
  'map map map  footer footer footer'
  'map map map  footer footer footer'
  'map map map  footer footer footer'
  'map map map  timechart timechart timechart'
  'map map map  timechart timechart timechart'
  'map map map  timechart timechart timechart'
  'map map map  main main main'
  'map map map  main main main'
  'map map map  main main main'
  ;

  margin: auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 1px solid black;


}



.btn-check {
  background-color: #ff0000;

}

.form-check-label {
  font-style: italic;
  /* color: white */
}