.map-class { grid-area: map;
  
  text-align: center;
 }
.zoom-class { 
    grid-area: zoom; 
    padding-top: 40px;

    border: 2px grey solid;
    padding-top: 40px;
}

.empty-class {
  grid-area: empty;
  padding: auto;
}


.fruit-class {
  grid-area: fruit;
  height: auto;
  width: auto;
}
.voronoi-class { grid-area: voronoi;
  padding-top: 40px;
  border: 2px grey solid;
}
.name-class { grid-area: name; 
  /* padding-top: 40px; */
  border: 2px grey solid;
}

.timeline-class { grid-area: timeline; 
  border: 2px grey solid;
  /* padding-top: 40px; */
}
.pattern-class {
  grid-area: pattern;
  border: 2px grey solid;

}

.trajectory-class {grid-area: trajectory; 
  border: 2px grey solid;
  /* padding-top: 40px; */
}

.heatmap-class {
  grid-area: heatmap;
  border: 2px grey solid;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'pattern map map map map map zoom zoom'
  'heatmap map map map map map name name '
  'trajectory map map map map map name name'
  'trajectory map map map map map fruit fruit '
  'trajectory map map map map map timeline timeline'
  'trajectory map map map map map timeline timeline  '
  'voronoi map map map map map timeline timeline';
  /* 'map map map  fruit fruit main main' */
  /* 'map map map  main main main' */
  /* 'map map map  timechart timechart timechart timechart' */
  /* 'map map map  timechart timechart timechart timechart'; */

  margin: auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 1px solid black;


}



.btn-check {
  background-color: #ff0000;

}

.form-check-label {
  font-style: italic;
  /* color: white */
}