.item1 { grid-area: map; }
.item2 { 
    grid-area: menu; 
    justify-content: center;
}
.item3 { grid-area: main; }
.item4 { grid-area: data; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
  'map map map map menu menu '
  'map map map map main main'
  'map map map map data data'
  'map map map map footer footer'
  'map map map map . .'
  'map map map map . .'
  'map map map map . .';

  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  
}

.grid-container > div {
  background-color: rgba(231, 238, 241, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

